.magellan-container{"data-magellan-expedition" => "", "data-options" => "destination_threshold:120; throttle_delay:0;"}
  %dl.sub-nav
    %dd{"data-magellan-arrival" => "general"}
      %a{href: "#general", id: 'general_link'} General
    %dd{"data-magellan-arrival" => "location"}
      %a{href: "#location"} Change Password
    %dd{"data-magellan-arrival" => "gallery"}
      %a{href: "#gallery"} Personalisation
    %dd{"data-magellan-arrival" => "features"}
      %a{href: "#features"} Notifications
    %dd{"data-magellan-arrival" => "descriptions"}
      %a{href: "#descriptions"} Delete account  
    %br/
    %hr