= form_for(resource, as: resource_name, url: registration_path(resource_name), html:  {id: 'avatar_form', :data => {:abide => ''}, method: :put }, remote: true) do |f|
  .row
    .large-12.columns
      %ul.clearing-thumbs{"data-clearing" => ""}
        %li
          %a{href: @user.avatar.url}
            %img{src: @user.avatar.url(:medium)}
  .row
    .large-12.columns
      %br/
      = f.hidden_field :secure, :value => true
      = f.file_field :avatar, :id => "avatar_upload", :accept => "image/png,image/gif,image/jpeg"