- content_for :javascript_includes do
  = javascript_include_tag "devise/registrations/edit_form.js"   
#overlay
#preloader
  #status
.row
  .small-12.large-12.columns
    %p
      %a{name: "general"}
    %br/
    %h4.subheader.magellan-menu{"data-magellan-destination"=>"general"} General
.row
  #screen
    .small-3.large-3.columns
      #avatar
        = render "avatar" 
    .small-9.large-9.columns
      #general
        = render "general"
      #email  
        = render "email"
.row
  .small-12.large-12.columns
    %p
      %a{name: "password"}
    %br/
    %h4.subheader.magellan-menu{"data-magellan-destination"=>"password"} Change password
.row
  #screen
    .small-12.large-12.columns
      #avatar
        /= render "change_password" 
