%dl.accordion{"data-accordion" => ""}
  %dd
    %a{href: "#panel1"} Accordion 1
    #panel1.content.active
      %dl.tabs{"data-tab" => ""}
        %dd.active
          %a{href: "#panel2-1"} Tab 1
        %dd
          %a{href: "#panel2-2"} Tab 2
        %dd
          %a{href: "#panel2-3"} Tab 3
        %dd
          %a{href: "#panel2-4"} Tab 4
      .tabs-content
        #panel2-1.content.active
          %p First panel content goes here...
        #panel2-2.content
          %p Second panel content goes here...
        #panel2-3.content
          %p Third panel content goes here...
        #panel2-4.content
          %p Fourth panel content goes here...
  %dd
    %a{href: "#panel2"} Accordion 2
    #panel2.content
      Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %dd
    %a{href: "#panel3"} Accordion 3
    #panel3.content
      Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.