%dl.accordion{"data-accordion" => ""}
  %dd
    %a{href: "#panel1"} Amenities
    #panel1.content.active
      Boxes here
  %dd
    %a{href: "#panel2"} Kitchen & Dining
    #panel2.content
      Boxes here
  %dd
    %a{href: "#panel3"} Lounge
    #panel3.content
      Boxes here
  %dd
    %a{href: "#panel4"} Bathroom
    #panel4.content
      Boxes here
  %dd
    %a{href: "#panel5"} Outside
    #panel5.content
      Boxes here