.row
  .small-12.large-12.columns
    %h6.subheader= 'General Amenities'
    %hr/
    .row
      .small-12.large-12.columns
        %label General
        %input#checkbox1{type: "checkbox"}/
        %label{for: "checkbox1"} Checkbox 1
        %input#checkbox2{type: "checkbox"}/
        %label{for: "checkbox2"} Checkbox 2