.row
  .magellan-container{"data-magellan-expedition" => "", "data-options" => "destination_threshold:100; throttle_delay:0;"}
    %dl.sub-nav
      %dd{"data-magellan-arrival" => "general"}
        %a{href: "#general", id: 'general_link'} General
      %dd{"data-magellan-arrival" => "location"}
        %a{href: "#location"} Location
      %dd{"data-magellan-arrival" => "gallery"}
        %a{href: "#gallery"} Gallery
      %br/
      %hr