.magellan-container{"data-magellan-expedition" => "", "data-options" => "destination_threshold:120; throttle_delay:0;"}
  %dl.sub-nav
    %dd{"data-magellan-arrival" => "general"}
      %a{href: "#general", id: 'general_link'} General
    %dd{"data-magellan-arrival" => "location"}
      %a{href: "#location", id: 'location_link'} Location
    %dd{"data-magellan-arrival" => "assets"}
      %a{href: "#assets", id: 'assets_link'} Media &amp; Docs
    %dd{"data-magellan-arrival" => "features"}
      %a{href: "#features", id: 'features'} Features
    %dd{"data-magellan-arrival" => "descriptions"}
      %a{href: "#descriptions", id: 'descriptions'} Descriptions
    %dd{"data-magellan-arrival" => "rates"}
      %a{href: "#rates", id: 'rates'} Rates &amp; availability
    %dd{"data-magellan-arrival" => "amenities"}
      %a{href: "#amenities", id: 'amenities'} Amenities
    %dd{"data-magellan-arrival" => "preview"}
      %a{href: "#preview", id: 'preview'} Preview  
    %br/
    %hr