.row
  .small-12.large-12.columns
    %p
      %a{name: "general"}
    %br/
    %h4.subheader.magellan-menu{"data-magellan-destination"=>"general"} General
  .row
    .small-4.large-4.columns
      #promo_image
        = render "promo_image" 
    .small-8.large-8.columns
      #general
        = render "general"
.row
  .small-12.large-12.columns
    %p
      %a{name: "location"}
    %br/
    %h4.subheader.magellan-menu{"data-magellan-destination"=>"location"} Location
    .row
      = render "general"
.row
  .small-12.large-12.columns
    %p
      %a{name: "gallery"}
    %br/  
    %h4.subheader.magellan-menu{"data-magellan-destination"=>"gallery"} Gallery
    .row
      = render "general"
    