%h1 Manage properties
%table
  %tr
    %th Name
    %th Description
  - @properties.each do |property|
    %tr
      %td= property.name
      %td= property.description
      %td= link_to 'Show', property_path(property)
      %td= link_to 'Edit', edit_property_path(property)