$("#promo_image").html("#{escape_javascript(render partial: 'properties/edit/promo_image')}");
$("#messages").html("#{escape_javascript(render partial: 'layouts/messages')}");
$('#overlay').fadeOut();
$('#promo_image_upload').on('change', function () {
console.log('promo image');
$('#promo_image_form').submit();
$('#overlay').fadeIn();
});
