.row
  .large-12.columns
    %h2.subheader= 'Two lovely treats in store'
    %h4.subheader= 'Change plans at any time. No hassle contract.'
    %hr

.row
  .large-6.columns
    %ul.pricing-table
      %li.title Friends &amp; Family
      %li.price Free
      %li.description Rent out to just those dearest to you
      %li.bullet-item * Invitation only: exclusive to friends &amp; family
      %li.bullet-item * Will not appear in search results
      %li.bullet-item * Easy to use booking system
      %li.bullet-item * Integrated rental payments &amp; notifications
      %li.bullet-item * Leave feedback for your guests
      %li.bullet-item * Get feedback from your guests
      %li.cta-button
        %a.button{href: "#"} Sign up now
        
  .large-6.columns
    %ul.pricing-table
      %li.title Global
      %li.price $5/m
      %li.description Rent out to general public
      %li.bullet-item * Open your abode to all
      %li.bullet-item * Will appear in search results
      %li.bullet-item * Easy to use booking system
      %li.bullet-item * Integrated rental payments &amp; notifications
      %li.bullet-item * Leave feedback for your guests
      %li.bullet-item * Get feedback from your guests
      %li.cta-button
        %a.button{href: "#"} Sign up now

