%dl.tabs{"data-tab" => ""}
  %dd.active
    %a{href: "#panel2-1"} Photos
  %dd
    %a{href: "#panel2-2"} Videos
  %dd
    %a{href: "#panel2-3"} Documents
.tabs-content
  #panel2-1.content.active
    = render 'property_assets/images'
    
  #panel2-2.content
    = render 'property_assets/videos'
  #panel2-3.content
    = render 'property_assets/docs'