$('#overlay').fadeOut();
//$("#images").html("#{escape_javascript(render 'images')}");
//$("#videos").html("#{escape_javascript(render 'videos')}");
//$("#docs").html("#{escape_javascript(render 'docs')}");
$('#asset_upload').on('change', function () {
document.getElementById('asset_upload_submit').disabled = false;
});
  