= form_for @property, :html => {:data => {:abide => ''}, :id => "general_form"},:url => update_general_property_url(@property),:method => :post, remote: true do |f|
  = f.text_area :description, placeholder: 'Property description', :id => 'property_summary', :rows => '10'
- @feature_types.each do |type|
  .row
    .small-12.large-12.columns
      %br/
      %h5.subheader
        = type.name
      .row
        .small-12.large-12.columns
          - @features.each do |feature|
            - if feature.feature_type_id ==  type.id
              %input#checkbox2{type: "checkbox"}/
              %label{for: "checkbox2"} 
                = feature.name