= form_for @property, :html => {:data => {:abide => ''}, :id => "promo_image_form"},:url => update_promo_image_property_url(@property),:method => :post, remote: true do |f|
  .row
    .large-12.columns
      %ul.clearing-thumbs{"data-clearing" => ""}
        %li
          %a{href: @property.promo_image.url}
            %img{src: @property.promo_image(:medium)}
  .row
    .large-12.columns
      %br/
      = f.file_field :promo_image, :id => "promo_image_upload", :accept => "image/png,image/gif,image/jpeg"