.sticky
  - if params.has_key?(:id)
    - if request.path == '/properties/'+params[:id]
      = render '/layouts/menus/property_menu'
    - else
      = render '/layouts/menus/main_menu'
  - else    
    = render '/layouts/menus/main_menu'
